* { box-sizing: border-box; }

html, body {
    background-color: #2e2c2c;
    font-family: 'Poppins';/* Lucida Bright */    
    padding: 0;
    margin: 0;
} 

/* HEADER */
header{
    overflow: hidden;
    background-color: #f3e9b7;
    position: fixed;
    padding: 0em;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
header .logo{
    height: 3em;
    width: 5em;
    float: left;
} 
header .logo:hover{
    opacity: 0.5;
}
header a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a h1{
    color: #E74C3C;
    margin-top: 10.72;
    padding-top: 0em;
    padding-left: 0em;
}

/* Top Navigation*/
.topnav {
    overflow: hidden;
    background-color: #550f0f;
    position: fixed;
    top:5.67em;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.topnav a {
    font-size: larger;
    color: white;
    text-align: center;
    margin: 10px 4px;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
}
.topnav a.active {
    background-color: #f3e9b7; 
    color: #E74C3C;
    
}
.topnav a:hover {
    background-color: #f3e9b7; 
    color: #E74C3C;
}

/* Body */
.content{   
    width: 100%;
    padding-top: 10em;

}
.content-container {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin: 1em;
    padding: 2em;
    background-color: #ffffff;

}
.content-image{
    position: relative;
    text-align: center;
    color: white;
}
.content-image .center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-image .center-text button{
    margin: 1em;
    background-color: #ffffff;
    opacity: 80%;
    padding: 1em;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 40%;
}
.content-image .center-text button:hover{
    opacity: 50%;
}


/* Body */
.follow-us-container {
    margin-bottom: 36px;
    padding: 2em;
}
.follow-us-button a {
    padding: 0px 5%;
    font-size: 30px;
}
.follow-us-button a:hover {
    opacity: 0.5;
}


/*Footer*/
footer {
    padding: 20px;
    text-align: center;
    background: #550f0f;
    color: white;
    margin-top: 20px;
}

footer a {
    font-family: 'Times New Roman', Times, serif;   
}